<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Job Details</title>
</head>
<body>
    <div class="container">
        <h1>{{ job["job_role"] }}</h1>
        
        <p><strong>Company Name:</strong> {{ job["company_name"] or 'Not Available' }}</p>
        <p><strong>Company Type:</strong> {{ job["company_type"] or 'Not Available' }}</p>
        
        <p><strong>Skills and Knowledge Required:</strong> 
            {% if job["combined_features"] %}
                {{ job["combined_features"] }}
            {% else %}
                Not available
            {% endif %}
        </p>
        
    

        <a href="{{ url_for('search') }}" class="btn">Back to Recommendations</a>
    </div>
</body>
</html>
